@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/Head" />

    @RenderSection("csslinks", required: false)

</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->

        <partial name="Partials/Navbar" />

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->

        <partial name="Partials/Sidebar" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-check"></i> Alert!</h5>
                    @TempData["success"]
                </div>
            }
            @if (TempData["err"] != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-check"></i> Alert!</h5>
                    @TempData["err"]
                </div>
            }



            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <partial name="Partials/Footer" />

    </div>
    <partial name="Partials/FootLinkjs" />
    @RenderSection("jslinks", required: false)
</body>
</html>
